[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
  url = http://github.com/gmarik/vundle.git
[submodule "home/.antigen/antigen"]
	path = home/.antigen/antigen
	url = http://github.com/zsh-users/antigen.git
